


  <strong>From:</strong>
  {{#link-to "email" email.id}}
    {{email.from}}
  {{/link-to}}

  <button type="button" style="float:right;margin-right:50%" onclick={{action "deleteEmail" email}}>
    <img src="https://image.freepik.com/free-icon/trash-bin-symbol_318-10194.jpg" alt="trash_img"
    style="height:30px">
  </button>


  <StarButton
        @starred={{email.starred}}
        @onClick={{action "star" email}} />




  <p>

    {{truncate-text email.message 30}}

  </p>




{{yield}}
