<div class="mainSection">
  <form onsubmit={{action "editCelebrity"}}>
    <div>
      <label class="input-label" for="name">Name: </label>
      {{input class="input-box" type="text" id="name" value=model.name}}
      <NonzeroCheck data-test = "nonzero" class="my-class" @text={{model.name}}/>
    </div>

    <div>
      <label class="input-label" for="birthday">Birthday: </label>
      {{input
        class="input-box"
        type="month"
        id="birthday"
        value=model.birthday
        max="2018-01"
      }}

    </div>

    <div>
      <label class="input-label" for="occupation">Occupation: </label>
      {{input class="input-box" stype="text" id="occupation" value=model.occupation}}
      <NonzeroCheck
        data-test = "nonzero"
        class="my-class"
        @text={{model.occupation}}
      />
    </div>


    <div>
      <label class="input-label" for="motto">Motto: </label>
      {{textarea rows="8" cols="80" id="motto" value=model.motto}}
      <NonzeroCheck data-test = "nonzero" class="my-class" @text={{model.motto}}/>
    </div>

    <AsyncButton
      type="submit"
      class="save-button"
      data-test="save-celebrity"
      @onclick={{action "saveCelebrity"}}
    />


  </form>

</div>
