
<div style="margin-left: 25%;padding:1px 16px;height:1000px;">

    {{#link-to 'index'}}
      Back
    {{/link-to}}


    <h1 data-test="email-subject">Subject: {{model.subject}}</h1>
    <h2 data-test="email-from">From: {{model.from}}</h2>
    <h3 data-test="email-to">To: {{model.to}}</h3>

    <p data-test="email-message">Message: {{model.message}}</p>
    <p data-test="email-id">id: {{model.id}}</p>
    <p>star: {{model.starred}}</p>

  </div>



{{outlet}}
